#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:#fcfbfb
}
nav a:hover {
    background-color:#fcfbfb;
}
nav a:hover {
    background-color: #49306b;
    color: #fcfbfb;
}    
.icon {
    width: 80px;
}
 a {
    text-align: center;
    color: #670de6;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 100px;
}    
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
} 
.watercomapany{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    
}  
.content{
    width: 1600px;
} 
#header{

    background-color: aquamarine;
} 
 #background{
    height: 725px;
    background-color: rgba(33, 196, 133, 0.753);
 } 
 
 .logo{
    width: 80px;
 }